{% load wagtailcore_tags %}

<div class="accordion project-accordion" id="portfolio-details-projectAccordion">
  {% for item in value.items %}
    <div class="accordion-item" data-aos="fade-up"{% if forloop.counter0 %} data-aos-delay="{{ forloop.counter0 }}00"{% endif %}>
      <h2 class="accordion-header">
        <button class="accordion-button{% if not forloop.first %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#portfolio-details-collapse-{{ forloop.counter }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.counter }}">
          {% if item.icon %}<i class="{{ item.icon }} me-2"></i>{% endif %} {{ item.title }}
        </button>
      </h2>
      <div id="portfolio-details-collapse-{{ forloop.counter }}" class="accordion-collapse collapse{% if forloop.first %} show{% endif %}" data-bs-parent="#portfolio-details-projectAccordion">
        <div class="accordion-body">
          {{ item.body|richtext }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
